<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <span>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngFor="let menu of menus">
                    <a class="nav-link" routerLink="{{menu.route}}">{{menu.display}}<span class="sr-only"></span></a>
                </li>
            </ul>
        </span>
        <span>

<!---
            <form class="form-inline my-2 my-lg-0">
                <span>Username</span>
            <span><input [(ngModel)]="user.username" type="text"></span>
            <span>Password</span>
            <span><input [(ngModel)]="user.password" type="password"></span>
                <button class="btn btn-outline-success my-2 my-sm-0" (click)="login">Search</button>
            </form>
-->         
   
        </span>
    </div>
</nav>

